$padding: 40px;
$margin-left: 10%;

body {
	margin-left: 5%;
	margin-right: 5%;
}

header button {
	margin-top: 20px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
    margin-left: 10px;
}

ol {
	list-style-type: none;
}

header p {
	display: flex;
	justify-content: center;
}

main {
	padding: $padding;
}

aside img{
	margin-bottom: 2%;

}

.calender-position {
	padding: $padding;
	margin-left: $margin-left;
}

#padding {
	padding: $padding;
}

footer {
	padding: $padding;
	padding-left: 90px;
}

