body {
	margin-left: 15px;
	margin-right: 15px;
}

header button {
	margin-top: 20px;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
    margin-left: 10px;
}

ol {
	list-style-type: none;
}

header p {
	display: flex;
	justify-content: center;
}

footer {

}