body {
	margin-left: 5%;
	margin-right: 5%;
}

header button {
	margin-top: 20px;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
    margin-left: 10px;
}

ol {
	list-style-type: none;
}

header p {
	display: flex;
	justify-content: center;
}

main {
	padding: 50px;
}

aside img{
	margin-bottom: 2%;

}

.calender-position {
	padding: 5%;
	margin-left: 100px;
}

