//Contains facebook, twitter, google logos.
.fa {
  padding: 7px;
  font-size: 15px;
  width: 28px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: $colour-pink;
  color: white;
}

section .fa-twitter {
  background: #ff80bf;
  height: 40px;
  width: 40px;
}

.fa-twitter {
  background: $colour-pink;
  color: white;
}

.fa-google {
  background: $colour-pink;
  color: white;
}

.logo-bg {
  position: absolute;
	padding: 20px;
	background-color: $colour-pink;
	border-radius: 70px;
	margin-bottom: none;
}
