@import "reset.css";
@import "typo.scss";
@import "hero.scss";
@import "grid.scss";

body {
	margin-left: 5px;
	margin-right: 5px;
}

.logo-bg {
	text-align: center;
	padding: 20px;
	background-color: pink;
	border: pink solid 1px;
	border-radius: 70px;
}

.dropdwn {
	display: flex;
}

header button {
	margin-top: 20px;
}

header p {
	color: white;
	position: absolute;
}





