@import url(reset.css);
body {
  font-family: "Open Sans", sans-serif, Times New Roman; }

header h3 {
  color: white; }

header h2 {
  color: white; }

.btn {
  border: none;
  background-color: inherit;
  cursor: default;
  font-size: 15px; }

/* On mouse-over */
.btn:hover {
  color: pink; }

footer {
  color: white; }

footer a {
  color: white; }

.calender-position {
  color: purple; }

main h1 {
  color: #ff4da6; }

section {
  color: white; }

.to-top {
  font-size: 10px;
  text-align: center; }

.hero-image {
  background-image: url("../Images/Main.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

body {
  margin-left: 5%;
  margin-right: 5%; }

header button {
  margin-top: 20px; }

.column {
  float: left;
  width: 25%;
  padding: 10px;
  margin-left: 10px; }

ol {
  list-style-type: none; }

header p {
  display: flex;
  justify-content: center; }

main {
  padding: 40px; }

aside img {
  margin-bottom: 2%; }

.calender-position {
  padding: 40px;
  margin-left: 10%; }

#padding {
  padding: 40px; }

.text-position {
  margin-left: 5%; }

footer {
  padding: 40px;
  padding-left: 90px; }

article {
  background: black; }

.fa {
  padding: 7px;
  font-size: 15px;
  width: 28px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  background: #ff4da6;
  color: white; }

section .fa-twitter {
  background: #ff80bf; }

.fa-twitter {
  background: #ff4da6;
  color: white; }

.fa-google {
  background: #ff4da6;
  color: white; }

.logo-bg {
  position: absolute;
  padding: 20px;
  background-color: #ff4da6;
  border-radius: 70px;
  margin-bottom: none; }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none; }

.welcome-button {
  border-radius: 20px;
  padding: 7px;
  width: 100px;
  background-color: #ff4da6;
  border-color: white;
  color: white;
  font-size: 10px; }

.twitter-button {
  border-radius: 20px;
  padding: 7px;
  width: 100px;
  background-color: #ff80bf;
  border-color: #ff80bf;
  color: white;
  font-size: 10px;
  margin-left: 5%; }

.button-calander {
  border-radius: 20px;
  padding: 7px;
  width: 100px;
  margin-left: 39%;
  background-color: purple;
  border-color: purple;
  color: white;
  font-size: 10px; }

.button-map {
  border-radius: 20px;
  padding: 7px;
  width: 100px;
  background-color: #a6a6a6;
  color: white;
  font-size: 10px; }

.twitter-info {
  background-color: #ff4da6; }

#bottom-border {
  border-bottom: #ff4da6 solid 25px; }

aside img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); }

article {
  background-color: #ff9900;
  padding: 35px; }

footer {
  background-color: #4d4d4d;
  border-top: white solid 15px;
  border-bottom: white solid 10px; }

.button-news {
  border-radius: 20px;
  padding: 7px;
  width: 100px;
  margin-top: 5%;
  margin-left: 45%;
  background-color: purple;
  border-color: purple;
  color: white;
  font-size: 10px; }

/*# sourceMappingURL=main.css.map */
