$color-white: white; 
$colour-pink: #ff4da6; 


body {
	font-family: "Open Sans", sans-serif, Times New Roman;
}

.btn {
border: none;
background-color: inherit;
cursor: default;
font-size: 15px;

}

/* On mouse-over */
.btn:hover {
	color: pink;
}

footer {
	color: $color-white;
}

footer a {
	color: $color-white;
}

.calender-position {
	color: purple;
}

main h1 {
	color: $colour-pink;
}

section {
	color: white;
}

.to-top {
	font-size: 10px;
	text-align: center;
}

