$color-white: white;  

.btn {
border: none;
background-color: inherit;
cursor: default;
font-size: 15px;

}

/* On mouse-over */
.btn:hover {
	color: pink;
}

footer {
	color: $color-white;
}

footer a {
	text-decoration: none;
	color: $color-white;
}